@charset "utf-8";

/*--------------------------------------------*/
/*Utility classes                             */
/*--------------------------------------------*/

.container {
    width: min(100% - 30px, 480px);
    margin-inline: auto;
}

.grid {
    display: grid;
    place-items: center;
}

.flex {
    display:flex;
    align-items: center;
}

/*--------------------------------------------*/
/*Background                                  */
/*--------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #2a6db5;
  font-family: "Press Start 2P", system-ui;
}

main {
    min-height: calc(100vh - 50px);
}

/*--------------------------------------------*/
/*Main                                        */
/*--------------------------------------------*/

.title {
    margin-top:50px;
    font-size: 15px;
}

.subtitle {
    margin: 20px 0;
    font-size: 8px;
}

.guesses-left {
    width:auto;
    height: 40px;
    
    h2 {
        font-size: 15px;
    }
}

.guesses-left {
    color: #fff;
    font-size: 30px;
    line-height: 50px;
}

.flip-card {
    margin: 20px 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
}

.front {
    position: absolute;
    inset: auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    background-color: #fff;
    text-align: center;
    cursor: not-allowed;
    font-size: 50px;
}

.back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #148396; 
    position: absolute;
    inset: auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    text-align: center;
    cursor: not-allowed;
    font-size: 50px;
}

.guess {
    width: 100px;
    height:40px;
    background-color: #148396;
    color: #fff;
    border-radius: 5px;
    cursor: not-allowed;
    box-shadow: 4px 4px 6px #0f0f0f;
    font-size: 12px;
}

.guess:hover {
    transition: ease-in-out 0.25s;
    background-color: #044853;
}

.output {
    margin-top: 30px;
    width:450px;
    height: 50px;
    background: #09962a;
    font-size: 15px;
    color:#e64040;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    cursor: not-allowed;
}

.output::placeholder {
    color: #000;
}

.play {
    width: 100px;
    height:40px;
    background-color: #a82b2b;
    color:#fff;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 4px 4px 6px #0f0f0f;
}

.play:hover {
    background: #6e1818;
    transition: ease-in-out 0.25s;
}

/*--------------------------------------------*/
/*Footer                                      */
/*--------------------------------------------*/

footer {
    height: 50px;
    color:#fff;
    line-height: 50px;
    font-size: 10px;
}

/*--------------------------------------------*/
/*Media screen                                */
/*--------------------------------------------*/

@media screen and (max-width: 480px) {
    .output {
        width: 100%;
        font-size: 10px;
    }

    .title {
        font-size: 10px;
    }

    .subtitle {
        font-size: 6px;
    }
}